@import structure
@import colors

$padding: 30px

actionbar
  width: 100%
  height: $actionbarHeight
  background-color: #FEFEFE
  position: absolute // fixed
  top: 0
  left: 0
  line-height: $actionbarHeight
  border-radius: 0px
  border-bottom: 1px solid $borderColor
  z-index: 100
  // border-left: 1px solid white

  .channelName 
    text-align: center

  .leftButton, .rightButton
    position: absolute
    height: 100%
    top: 0
    font-size: 14px
    font-family: Avenir-Roman
    letter-spacing: 0.8px

    &.leftButton
      left: $padding
      text-align: left

    &.rightButton
      right: $padding
      text-align: right

    img 
      height: 17px
      width: auto
      // transition: 0.3s ease-in-out opacity
      opacity: 0.42

      &:hover
        opacity: 1

    .leave
      margin-left: 20px
      height: 15px

      &:hover
        opacity: 1

    .mute-active
      opacity: 1 !important

    &:hover
      cursor: pointer

  .cancel
    position: absolute
    left: 20px
    font-family: Avenir-Light
    font-size: 17px
    color: white 
    &:hover
      text-decoration: none
      cursor: pointer