@import "./colors"
@import "./structure"
@import "compass"


$channelListItemHeight: 70px
$actionButtonHeight: 53px
$indicatorWidth: 50px
$dotSize: 8px

$dividerstyle: 1px solid $dividerColor

$quick: 0.2s linear all

$hashOffset: -16px


channel-list 
  background-color: $sidebarColor
  overflow-y: scroll

  .actionButton
    display: block
    width: 100%
    height: $actionButtonHeight

    &:hover
      cursor: pointer

    .nestedButton
      width: 100%
      height: 100%
      position: relative

    .choices
      background-color: $darkGray
      color: white
      text-align: center
      overflow: auto

      .addButton,.inviteButton
        height: 100%
        line-height: $actionButtonHeight
        float: left

      .addButton
        width: 66%
        border-right: 1px solid white

      .inviteButton
        width: 34%

    .addChannel
      color: white
      text-align: center
      border-bottom: $dividerstyle
      background-color: $greenColor
      @include transition($quick)

      .plus,.supporting
        transition: 0.2s ease-in-out all
        position: absolute
        left: 0
        width: 100%

      .plus 
        line-height: $actionButtonHeight
        font-family: Avenir-Black
        font-size: 25px
        top: 0
        transition: $quick


      .supporting
        font-size: 12px
        bottom: -3px
        opacity: 0
        @include transition($quick)

      &.addMode
        background-color: $sidebarColor

        .plus
          @include rotate(45deg)
          color: $blackColor
        .supporting
          color: $blackColor


    .cancel
      background-color: #D0626B
      color: white

    .inviteLink
      height: $channelListItemHeight
      line-height: $channelListItemHeight


    //   .plus
    //     top: -8px

    //   .supporting
    //     opacity: 1
    //     bottom: 5px



  channel-list-item

    .channelWrapper
      display: block
      width: 100%
      // height: $channelListItemHeight
      border-bottom: $dividerstyle
      transition: $quick
      padding: $channelPaddingSide $channelPaddingTop $channelPaddingSide $channelPaddingTop
      position: relative
      overflow: hidden



      &:hover
        cursor: pointer

      .indicator
        $width: 6px
        position: absolute
        right: -$width
        top: 0
        width: $width
        height: 100%
        background-color: $greenColor
        transition: $quick

        &.visible
          right: 0px

        // .stripe 
        //   width: $dotSize
        //   height: $dotSize
        //   border-radius: 50%
        //   position: absolute
        //   top: 23px
        //   right: 23px
        //   background-color: $indicatorColor

      .info
        height: 100%
        width: auto
        // overflow: hidden
        // padding-top: 15px
        color: $blackColor

        .name 
          font-family: Avenir-Medium
          font-size: 13px
          transition: $quick
          margin-bottom: 8px
          position: relative

          .hash
            position: absolute
            left: $hashOffset

        .description
          font-size: 12px
          font-family: Avenir-Book
          opacity: 0.75
          transition: $quick
          line-height: 140%
          margin-bottom: 0px

        .actions
          width: 100%
          margin-top: 8px
          overflow: auto
          position: relative

          .mute, .leave
            // height: 12px
            // width: auto
            font-size: 18px
            // transition: $quick
            // $transform: rotate(180deg)
            color: $iconColor

            &:hover
              cursor: pointer

          .mute
            position: absolute
            left: 0
          .leave
            float: right


      // Selected state
      &.selected
        background-color: $greenColor
        // background-color: white

        .info 
          color: white

  .logout
    width: 100%
    text-align: center
    margin-top: 100px
    margin-bottom: 50px
    &:hover
      cursor: pointer

  create-channel
    display: block
    margin-bottom: 200px

    .section
      padding: $channelPaddingSide $channelPaddingTop $channelPaddingSide $channelPaddingTop
      background-color: white
      position: relative
      margin-bottom: 2px

      &.static 
        background-color: transparent


      .inputWrapper
        position: relative

        textarea
          border: none
          padding: 0
          background-color: transparent

          &.inputName
            font-family: Avenir-Medium
            font-size: 14px
            color: $blackColor

          &.inputDescription
            font-size: 12px
            font-family: Avenir-Book
            opacity: 0.75
            // transition: $quick
            line-height: 140%

        .description
          font-size: 12px
          font-family: Avenir-Book
          opacity: 0.75
          line-height: 140%

        .hash
          position: absolute
          left: $hashOffset
          top: 0

      .charCount
        text-align: center
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        font-family: Avenir-Book
        font-size: 10px
        color: $blackColor
        opacity: 0.3
        margin-bottom: 3px

  .sidebarButton
    width: 100%
    display: block
    background-color: $greenColor
    height: 33px
    line-height: 33px
    text-align: center
    font-family: Avenir-Black
    font-size: 14px
    color: white
    transition: $quick

    &.faded
      background-color: #CDCDCD
      color: #E5E5E5

    &:hover
      cursor: pointer
      text-decoration: none
      color: white