@import "./colors"


$channelListItemHeight: 70px
$indicatorWidth: 50px

$dividerstyle: 2px solid $dividerColor


channel-list 
  background-color: $sidebarColor

  channel-list-item
    display: block
    width: 100%
    height: $channelListItemHeight
    border-bottom: $dividerstyle

    .indicator
      width: $indicatorWidth
      height: 100%
      float: left

    .info
      height: 100%
      width: auto
      overflow: hidden


    // Selected state
    &.selected
      background-color: $greenColor
      color: white
