

$greenColor: #02C263

$sidebarColor: #EAEAEA
$dividerColor: #FFFFFF

$profilePlaceholderColor: $sidebarColor

$blackColor: #2A2A2A
$indicatorColor: #4A90E2
$composeColor: #F8F8F8
$sendColor: #7E7E7E

$nameColor: #828282

$buttonDisabled: #DDDDDD