@import colors
@import structure

composebar
  position: absolute
  z-index: 500
  bottom: 0
  width: 100%
  border-top: 1px solid $borderColor

  .sender
    // height: $composeHeight
    background-color: #FEFEFE
    padding-right: 10px

    .textContainer
      // float: left
      width: auto 
      // background-color: blue
      overflow: hidden
      height: 100%
      padding: 8px

      textarea
        height: 23px


    .sendButton
      float: right
      width: 64px
      height: 100%
      text-align: center
      line-height: $composeHeight
      font-family: Avenir-Medium
      color: $sendColor

      &:hover
        cursor: pointer

  .uploading
    height: $uploadingHeight
    width: 100%

    .prog
      background-color: $greenColor
      height: 100%
      transition: 0.2s ease-in-out all

  autocomplete
    display: block
    background-color: white 
    // position: absolute
    padding-left: $leftGutter

    $height: 42px

    .result
      height: $height
      position: relative

      &:hover
        cursor: pointer

      &.faded
        opacity: 0.5

      .name
        line-height: $height
        width: 100%
        // background-color: green
        border-bottom: 1px solid $borderColor

        &.last 
          border: none

      .userPhoto
        position: absolute
        width: 30px
        height: 30px
        border-radius: 50%
        background-size: cover
        top: 5px
        left: -52px

      .arrow
        position: absolute
        height: 10px
        width: auto
        left: -65px
        top: 16px
