@import "./colors"
@import "./structure"

composebar
  position: absolute
  bottom: 0
  width: 100%

  .sender
    // height: $composeHeight
    background-color: #FEFEFE
    padding-right: 10px

    .textContainer
      // float: left
      width: auto 
      // background-color: blue
      overflow: hidden
      height: 100%
      padding: 8px

      textarea
        height: 23px


    .sendButton
      float: right
      width: 64px
      height: 100%
      text-align: center
      line-height: $composeHeight
      font-family: Avenir-Medium
      color: $sendColor

      &:hover
        cursor: pointer

  .uploading
    height: $uploadingHeight
    width: 100%

    .prog
      background-color: $greenColor
      height: 100%
      transition: 0.2s ease-in-out all