$navbarheight: 52px

@import "./colors"

.dashboard
  width: 100%
  height: 100%
  padding-top: $navbarheight
  position: relative
  transition: 0.6s ease-in-out all

  &.createVisible
    margin-left: -100%

  .navbar
    width: 100%
    height: $navbarheight
    background-color: $greenColor
    position: absolute
    top: 0
    left: 0
    line-height: $navbarheight
    color: white

    .title 
      font-family: Avenir-Black
      font-size: 17px
      text-align: center

    .cancel
      position: absolute
      left: 20px
      font-family: Avenir-Light
      font-size: 15px
      color: white 
      &:hover
        text-decoration: none
        cursor: pointer

  channel-list, .mainView
    height: 100%

  channel-list
    width: 265px
    height: 100%
    float: left

  .mainView
    width: auto
    overflow: hidden
    position: relative



  create
    position: absolute
    width: 100%
    background-color: $sidebarColor
    height: 100%
    left: 100%
    top: 0
