@import compass/css3
@import colors
+font-face("Avenir Heavy", font-files("fonts/Avenir-Heavy.otf"))

$width: 413px

.landingView
  width: 100%
  height: 100%
  // background-color: $greenColor
  +background-image(radial-gradient(circle, #FFFFFF, #F7F7F7))
  padding-top: 115px
  text-align: center

  // .bigName
  //   font-family: Avenir-Heavy
  //   color: white
  //   font-size: 80px
  //   text-align: center
  //   letter-spacing: 2.5px
  //   margin-bottom: 0px

  .logoBig
    margin-left: auto 
    margin-right: auto
    width: 160px
    // animation-duration: 10s

  // .underline
  //   width: $width
  //   height: 8px
  //   background-color: white
  //   display: block
  //   margin-left: auto
  //   margin-right: auto
  //   margin-top: -12px

  .rotatingText
    margin-top: 90px
    color: $darkTextColor 
    text-align: center
    height: 66px
    width: $width
    display: block
    margin-left: auto 
    margin-right: auto
    position: relative
    animation-delay: 2s

    $offset: 10px

    .str1, .str2
      font-family: Avenir-Book
      font-size: 20px
      letter-spacing: 0.6px
      position: absolute
      width: 100%
      text-align: center

      &.ng-enter,&.ng-leave
        +transition(0.5s linear all)
        opacity: 1

      &.ng-leave 
        +transition(0.3s linear all)

      &.ng-enter
        opacity: 0
      &.ng-enter-active
        opacity: 1
      &.ng-leave
        opacity: 1
      &.ng-leave-active
        opacity: 0
        +scale(0.1,0.1,500)

    .str1
      top: 0
      &.ng-enter
        top: -$offset
      &.ng-enter-active
        top: 0
      &.ng-leave-active
        top: $offset*2
    .str2
      bottom: 0
      &.ng-enter
        bottom: -$offset
      &.ng-enter-active
        bottom: 0
      &.ng-leave-active
        bottom: $offset*2

    .str2
      font-family: Avenir-Heavy
      margin-top: 2px
      margin-bottom: 0px

  .loginWrapper
    animation-delay: 2s

    .facebook
      width: $width
      border-radius: 3px
      // background-color: #3E66AB
      background-color: transparent
      border: 1px solid $darkTextColor
      // color: white
      color: #464C58
      display: block
      margin-left: auto 
      margin-right: auto
      padding-top: 13px 
      padding-bottom: 13px 
      font-size: 17px
      font-family: Avenir-Light
      margin-top: 100px

    .privacy
      margin-top: 20px
