$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass/css3";

@import "colors.sass";
@import "typography.sass";
@import "structure.sass";

@import "reset.sass";

@import "dashboard.sass";
@import "stream.sass";
@import "channelList.sass";
@import "compose.sass";
@import "create.sass";
@import "landing.sass";
@import "invite.sass";
@import "actionbar.sass";


// Fonts
// @font-face{
//   font-family: "Avenir-Light";
//   src: url("fonts/Avenir-Light.otf") format('opentype');
// }
// @font-face{
//   font-family: "Avenir-Medium";
//   src: url("fonts/Avenir-Medium.otf") format('opentype');
// }
// @font-face{
//   font-family: "Avenir-Black";
//   src: url("fonts/Avenir-Black.otf") format('opentype');
// }
// @font-face{
//   font-family: "Avenir-Book";
//   src: url("fonts/Avenir-Book.otf") format('opentype');
// }
// @font-face{
//   font-family: "Avenir-Heavy";
//   src: url("fonts/Avenir-Heavy.otf") format('opentype');
// }

@font-face {
  font-family:'Avenir-Black';
  src: url('fonts/Avenir-Black_latin+latin-ext_gdi.eot');
  src: url('fonts/Avenir-Black_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('fonts/Avenir-Black_latin+latin-ext_gdi.woff') format('woff'),
    url('fonts/Avenir-Black_latin+latin-ext_gdi.ttf') format('truetype'),
    url('fonts/Avenir-Black_latin+latin-ext_gdi.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family:'Avenir-Book';
  src: url('fonts/Avenir-Book_latin+latin-ext_gdi.eot');
  src: url('fonts/Avenir-Book_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('fonts/Avenir-Book_latin+latin-ext_gdi.woff') format('woff'),
    url('fonts/Avenir-Book_latin+latin-ext_gdi.ttf') format('truetype'),
    url('fonts/Avenir-Book_latin+latin-ext_gdi.svg#Avenir-Book') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2215;
}

@font-face {
  font-family:'Avenir-Heavy';
  src: url('fonts/Avenir-Heavy_latin+latin-ext_gdi.eot');
  src: url('fonts/Avenir-Heavy_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('fonts/Avenir-Heavy_latin+latin-ext_gdi.woff') format('woff'),
    url('fonts/Avenir-Heavy_latin+latin-ext_gdi.ttf') format('truetype'),
    url('fonts/Avenir-Heavy_latin+latin-ext_gdi.svg#Avenir-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2215;
}

@font-face {
  font-family:'Avenir-Light';
  src: url('fonts/Avenir-Light_latin+latin-ext_gdi.eot');
  src: url('fonts/Avenir-Light_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('fonts/Avenir-Light_latin+latin-ext_gdi.woff') format('woff'),
    url('fonts/Avenir-Light_latin+latin-ext_gdi.ttf') format('truetype'),
    url('fonts/Avenir-Light_latin+latin-ext_gdi.svg#Avenir-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family:'Avenir-Medium';
  src: url('fonts/Avenir-Medium_latin+latin-ext_gdi.eot');
  src: url('fonts/Avenir-Medium_latin+latin-ext_gdi.eot?#iefix') format('embedded-opentype'),
    url('fonts/Avenir-Medium_latin+latin-ext_gdi.woff') format('woff'),
    url('fonts/Avenir-Medium_latin+latin-ext_gdi.ttf') format('truetype'),
    url('fonts/Avenir-Medium_latin+latin-ext_gdi.svg#Avenir-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}


// Overriding with Open Sans for now, until I get the time to figure out how to render Avenir properly cross-platform
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

// p,h1 {
//   font-family: 'Open Sans', sans-serif !important;
// }

html,body,.appView {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  min-width: 100px;
  font-family: Avenir-Light;
  // overflow: none;
}

body{
  overflow: hidden;
}

*:focus, *:active {
    outline: 0 !important;
}

a{
  &:hover{
    cursor: pointer;
  }
}

.faded{
  opacity: 0.3
}

.btn{
  border-radius: 0px !important;
}