@import "./colors"

$composebarheight: 45px
$titlebarheight: 45px

$leftGutter: 75px
$photoSize: 45px

stream

  width: 100%
  height: 100%
  display: block
  padding-bottom: $composebarheight
  // padding-top: $titlebarheight


  .messages
    width: 100%
    height: 100%
    display: block
    overflow-x: hidden
    overflow-y: scroll

    padding-top: 20px

    padding-left: $leftGutter

    message 
      position: relative
      display: block

      // Only message gets a min height
      &.only 
        min-height: 50px
      // Last message gets more padding
      &.last
        margin-bottom: 25px

      .userPhoto
        position: absolute
        width: 48px
        height: 48px
        border-radius: 50%
        background-color: $profilePlaceholderColor
        top: 0
        left: -(($leftGutter/2) + ($photoSize/2))

      .name 
        font-size: 10px
        color: $nameColor
        font-family: Avenir-Medium
        margin-bottom: 2px

