@import colors
@import structure
@import compass/css3


// $navbarHeight: 45px
$photoSize: 45px

$maxMessageWidth: 320px

stream
  // position: absolute
  // top: 0
  // width: 100%
  // height: 2000px
  // display: block
  // padding-bottom: $composeHeight


  .messages
    padding-top: $actionbarHeight + 20
    padding-bottom: $composeHeight
    // width: 100%
    // height: 100%
    // display: block
    // overflow-x: hidden
    // overflow-y: scroll
    // position: relative

    // padding-top: 20px

    // padding-left: $leftGutter
    padding-left: $rightGutter
    padding-right: $rightGutter

    opacity: 1

    &.invisible
      opacity: 0

    message 
      position: relative
      display: block
      min-height: 20px

      // Only message gets a min height
      &.only
        min-height: 50px

      &.separated
        // min-height: 50px
        margin-top: 25px

      // Last message gets more padding
      &.last
        margin-bottom: 25px

      .userPhoto
        position: absolute
        z-index: 2
        // width: 48px
        // height: 48px
        // margin-right: 5px
        width: 20px 
        height: 20px 
        // float: left
        border-radius: 50%
        background-color: $profilePlaceholderColor
        background-size: cover
        background-position: center center
        top: 0
        // left: -(($leftGutter/2) + ($photoSize/2))
        left: 0px

      .metaRow
        overflow: auto 
        padding-left: 25px

        .name,.timeAgo
          padding-top: 3px
          font-size: 11px
          font-family: Avenir-Book
          margin-bottom: 2px
          color: $nameColor

        .name
          float: left

        .timeAgo
          float: right
          opacity: 0.6

      .content
        margin-bottom: 5px
        position: relative

        .text 
          margin-bottom: 0
          font-family: Avenir-Light
          font-size: 14px
          // max-width: $maxMessageWidth

        img,video
          max-width: 100%
          max-height: 200px
          // margin-left: -$leftGutter
          &:hover
            cursor: pointer

        .website
          width: 100%
          max-width: $maxMessageWidth
          background-color: $sidebarColor
          overflow: auto
          padding-top: 27px
          padding-bottom: 24px
          box-sizing: border-box

          $sidePadding: 19px

          &:hover
            cursor: pointer

          .title,.description,.buttonRow
            width: 100%
            padding-left: $sidePadding
            padding-right: $sidePadding

          .title 
            font-family: Avenir-Medium
            font-size: 23px
            color: $grayception
            margin-bottom: 14px

          .description
            font-family: Avenir-Light
            font-size: 14px
            color: $grayception

          .buttonRow
            margin-top: 15px

            .favicon
              float: left
              width: 16px
              height: 16px

            .siteName
              float: left
              font-family: Avenir-Light
              font-size: 12px
              color: $grayception
              margin-left: 7px
              margin-bottom: 0px

        &:hover
          .timeAgo
            opacity: 1





    // follower
    //   background-color: red
    //   width: 20px
    //   height: 20px
    //   position: fixed
    //   top: 20px
    //   left: 20px

