<!-- <div class="leftButton" clip-copy="link" clip-click="didCopy()">
  <span ng-if="!copied">Invite</span>
  <span ng-if="copied">Link copied to clipboard</span>
</div> -->

<div class="leftButton">
  <img class="mute-active" src="images/mute-active.png" ng-if="channel.muted" ng-click="toggleMute()">
  <img class="mute" src="images/mute.png" ng-if="!channel.muted" ng-click="toggleMute()">
  <img class="leave" src="images/leave.png" ng-click="leave()">
</div>

<!-- <p class="channelName">#{{channelName}}</p> -->
<p class="channelName">
  <img src="images/hashColor.png">
  {{channel.$id}}
</p>

<div class="rightButton">
  <img src="images/info.png">
</div>