<div class="channelWrapper" 
  ng-click="changeChannel()" 
  ng-class="{'selected': currentChannel == channel.$id, 'unread':channel.unreadCount}">

  <!-- <div class="unreadCount" ng-show="channel.unreadCount">
    <span class="number">{{channel.unreadCount}}</span>
  </div> -->

  <!-- <div class="indicator" ng-class="{visible: channel.unread}">
  </div> -->

  <div class="info">
    <p class="channelName">
      <img ng-if="channel.unreadCount" src="images/hashColor.png">
      <img ng-if="!channel.unreadCount" src="images/hashGray.png">
      <!-- <span class="hash">#</span> -->
      {{channel.$id}}
    </p>
    <!-- <p class="description">{{description.$value}}</p>
    <div class="actions">
      <img ng-if="!channel.muted" class="mute" src="images/mute.png"
        ng-click="toggleMute($event)">
      <img ng-if="channel.muted" class="mute" src="images/mute-active.png"
        ng-click="toggleMute($event)">
      <img class="leave" src="images/leave.png" ng-click="leave($event)">
    </div> -->
  </div>
</div>