<div class="channelWrapper" 
  ng-click="changeChannel()" 
  ng-class="{'selected': currentChannel == channel.$id}">

  <div class="indicator" ng-class="{visible: channel.unread}">
  </div>

  <div class="info">
    <p class="name">
      <span class="hash">#</span>
      {{channel.$id}}
    </p>
    <p class="description">{{description.$value}}</p>
    <div class="actions">
      <img ng-if="!channel.muted" class="mute" src="images/mute.png"
        ng-click="toggleMute($event)">
      <img ng-if="channel.muted" class="mute" src="images/mute-active.png"
        ng-click="toggleMute($event)">
      <img class="leave" src="images/leave.png" ng-click="leave($event)">
    </div>
  </div>
</div>