
<div class="actionButton">

  <div class="nestedButton choices" ng-show="!actionState">
    <div class="addButton" ng-click="showCreate()">Add Conversation</div>
    <div class="inviteButton" ng-click="actionState = 'invite'">Invite</div>
  </div>

  <button class="btn nestedButton cancel" ng-show="actionState" ng-click="cancel()">Cancel</button>

</div>

<create-channel ng-if="actionState == 'create'"></create-channel>

<div class="inviteLink" ng-if="actionState == 'invite'">
  {{refLink}}
  <a class="sidebarButton">Copy link to clipboard</a>
</div>


<channel-list-item 
  ng-repeat="channel in channels" 
  channel="channel"
  current-channel="currentChannel"
  ng-class="{faded: actionState}">
</channel-list-item>

<p class="logout" ng-click="logout()">Logout</p>