<autocomplete 
  channel-name="channelName"
  query="query"
  ng-show="query"
  ng-style="{bottom: composeHeight}"></autocomplete>
<div class="uploading" ng-if="uploader.isUploading">
  <div class="prog" ng-style="{width:uploader.progress+'%'}"></div>
</div>
<div class="sender">
  <div class="sendButton" ng-click="send()">Send</div>
  <div class="textContainer">
    <textarea 
      msd-elastic="\n" 
      class="msd-elastic" 
      ng-model="messageText" 
      ng-keydown="keydown($event)" 
      focus-on="compose"
      ng-trim="false"></textarea>
    <!-- <input type="text" ng-model="messageText" class="form-control" ng-keydown="keydown($event)"></input> -->
  </div>
</div>
<!-- <button class="btn btn-success" ng-click="send()">Send ({{channel.$id}})</button> -->

