<autocomplete 
  members="members"
  channel-name="channelName"
  query="query"
  ng-show="query"
  ng-style="{bottom: composeHeight}"
  complete-mention="completeMention(mentionString)"></autocomplete>
<div class="uploads" ng-if="uploads">
  <div class="prog" ng-repeat="upload in uploads" ng-style="{width:upload+'%',top: -$index*8+'px'}"></div>
</div>
<div class="sender">
  <div class="sendButton" ng-click="send()">Send</div>
  <div class="textContainer">
    <textarea 
      msd-elastic="\n" 
      class="msd-elastic" 
      ng-model="messageText" 
      ng-keydown="keydown($event)" 
      focus-on="compose"
      ng-trim="false"></textarea>
    <!-- <input type="text" ng-model="messageText" class="form-control" ng-keydown="keydown($event)"></input> -->
  </div>
</div>
<!-- <button class="btn btn-success" ng-click="send()">Send ({{channel.$id}})</button> -->

