<!-- <div> -->
  <div ng-if="owner && !rolling" class="userPhoto" ng-style="{'background-image':'url('+owner.photo+')',top:offsetTop}"></div>
  <p class="name" ng-if="owner && !rolling">{{owner.firstName}}</p>

  <div class="content">

    <p class="text" ng-bind-html="message.content.text | parseUrl"></p>

    <!-- Todo - GIFs should have a template to themselves -->
    <video ng-if="message.type == 'gif' && vidurls" autoplay loop loadchirp>
      <source ng-src="{{vidurls.webm}}">
      <source ng-src="{{vidurls.mp4}}">
    </video>

    <img ng-if="message.type == 'image'" ng-src="{{message.content.src}}" loadchirp>

  </div>
<!-- </div> -->