<div class="dashboard" 
  ng-class="{createVisible:createVisible}" 
  ng-file-drop="onFileSelect($files)" 
  ng-file-drag-over-class="dragover"
  ng-paste="paste($event)">
  
  <channel-list current-channel="currentChannel" show-create="showCreate"></channel-list>

  <div class="mainView">
    <stream channel-name="currentChannel" ng-style="{bottom:composeHeight}"></stream>
    <composebar 
      channel-name="currentChannel" 
      uploader="uploader" 
      compose-height="composeHeight">
    </composebar>
  </div>

  <create hide-create="hideCreate"></create>


  <!-- The overlay that is shown when you drag a file over -->
  <div class="uploadView animated fadeIn">
    <object type="image/svg+xml" data="images/parachute.svg" class="chute animated fadeInDown"></object>
    <p class="animated fadeInUp">Drop files to upload.</p>
  </div>

</div>
