<div class="row">

  <!-- Directive for listing channels -->
  <div class="col-md-4">
    <p class="lead">channels</p>
    <hr>
    <div ng-repeat="channel in channelList | orderByPriority">
      
      <channel-list-item channel="channel"></channel-list-item>
    </div>
    <hr>
    <p class="lead">create</p>
    <createchannel user="user"></createchannel>
  </div>


  <div class="col-md-8">
    <p class="lead">messages</p>
    <div>
      <!-- Mute a channel -->
      <button ng-click="toggleMute()" class="btn btn-warning">
        <span ng-if="!channelList[currentChannel].muted">Mute</span>
        <span ng-if="channelList[currentChannel].muted">Unmute</span>
      </button>

      <!-- Leave a channel -->
      <button ng-click="leaveChannel()" class="btn btn-danger">Leave</button>
    </div>
    <hr>
    <message ng-repeat="message in messages[currentChannel] | orderByPriority" message="message"></message>
    <!-- <p ng-repeat="message in messages[currentChannel] | orderByPriority">{{message.content.text}}</p> -->

    <hr>
    <composemessage channel="messages[currentChannel]"></composemessage>
  </div>

</div>